<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class="row text-center">
        <div class="col-xs-8">
          <form class="form-inline my-4"> <input type="text"  class="text-center mt-4" id="todo-input" placeholder="New To-Do Item">
          <button id="add-button" type="button" class="btn btn-sm btn-primary mt-4">Add To-Do</button>
        </div>
      </div>
      <div class="row mt-4" id="tasks"></div>
    </div>
  </div>
</div>
